<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

  <title> <%= data.title %> </title>

  <% for (var i = 0; i < data.styles.length; i++) { %>
    <link rel="stylesheet" type="text/css" href="<%= data.root !== '/' ? `/${data.root}` : '' %>/css/<%= data.styles[i] %>.css">
  <% } %>

  <% for (var i = 0; i < data.scripts.length; i++) { %>
    <script type="text/javascript" src="<%= data.root !== '/' ? `/${data.root}` : '' %>/js/<%= data.scripts[i] %>/index.js"></script>
  <% } %>
</head>
