<!DOCTYPE html>
<html>

<%- include('partials/header', {
  data: data,
}) %>

<body class="<%- route %>">
  <%- include('partials/banner', {
  }) %>

  <%- include('partials/navbar-static', {
    route: route,
    data: data,
  }) %>
  <%- include('partials/container', {
    data: data,
  }) %>
  <!-- <%- include('partials/footer') %> -->
</body>

</html>